<p id="notice"><%= notice %></p>


<div class="well">
<p>
  <strong>User:</strong>
  <%= link_to @tweet.user.username, 
       show_user_path(id: @tweet.user.id) %>
</p>
<p>
<%= @tweet.message.html_safe %>
</p>
</div>

<%= link_to 'Edit', edit_tweet_path(@tweet), class: "btn btn-warning" %> |
<%= link_to 'Back', tweets_path, class: "btn btn-default" %>
